<header class="header">
  <div class="logo">
    <img src="assets/logo.png" alt="Genix Auctions">
    <span>Genix Auctions</span>
  </div>
  <nav class="nav">
    <ul>
      <li><a href="#">Auctions</a></li>
      <li><a href="#">Bidding</a></li>
      <li><a href="#">About us</a></li>
    </ul>
  </nav>
  <div class="user-profile">
    <img src="assets/user.jpg" alt="User">
    <span>Olivia Rhye</span>
    <ul class="dropdown-menu">
      <li><a href="#">View profile</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">My bids</a></li>
      <li><a href="#">Credit cards</a></li>
      <li><a href="#">My Auctions</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">API</a></li>
      <li><a href="#">Log out</a></li>
    </ul>
  </div>
</header>